
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            IBE
            <span class="text-primary">SARAH</span>
        </h1>
        <div class="subheading mb-5">
            12, Oladire Street · Ogba, Lagos. · (+234) 906-332-5637 ·
            <a href="ibesarah01@gmail.com">ibesarah01@gmail.com</a>
        </div>
        <p class="lead mb-5">Enthusiastic Web/Mobile App Developer eager to contribute to team success through hard work, attention to detail and excellent organizational skills.
            Clear understanding of HTML, CSS and training in JavaScript and other programming languages.
            Motivated to learn, grow and excel in Web and Mobile App development.</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/ibe-sarah-42a77b1ba"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/Ibe-Sarah"><i class="fab fa-github"></i></a>
            <!-- <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a> -->
            <a class="social-icon" href="https://www.facebook.com/ogechi.sarah.75"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />
