
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Mobile App Development Intern</h3>
                <div class="subheading mb-3">Bincom DevCenter</div>
                <p>Participated in corporate learning and development programs to gain competencies and professional skills. Built basic applications with Cordova and Angular and Blog apps with WordPress. Cloned and served Mobile Apps from Gitlab. Tested and added features to existing Apps</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">February 2022 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Graphic Design Intern</h3>
                <div class="subheading mb-3">Sceptral Hub</div>
                <p>Created visual concepts to communicate basic information of the business.
                    Participated in corporate learning and development programs to gain competencies and professional skills.
                    </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">December 2021 - April 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Computer Operator</h3>
                <div class="subheading mb-3">Premium Computer College</div>
                <p>Created reports and other documents using Microsoft Word.
                    Conducted basic analysis with Microsoft Excel
                    .Prepared presentation slides for business meetings
                    .Designed flyers and identity cards for clients</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Aug 2013 - November 2016</span></div>
        </div>
        
    </div>
</section>
<hr class="m-0" />