<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web/mobile app developer, I enjoy listening to music coupled with some dance steps. I dance really well. I enjoy drumming too. I've had to attend trainings where I was coached on drumming skills. I love going to the movies as well as the beach.<p class="mb-0"> I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
    </div>
</section>
<hr class="m-0" />
