<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Awards & Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Jobberman Softskills Certification
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Graphic Design Certification
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                First Class Honors
                
                - Nnamdi Azikiwe University - BSc Economics 2020
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Second Best Graduating Student
        
                 - Vetland Grammar School - 2016 
            </li>
            
        </ul>
    </div>
    <hr class="m-0" />
</section>
